.bg-primary {
    background-color:  #4A90E2 !important;
}

#operations-tag-Node_RPCs {
    display: none;
}
#operations-tag-Node_RPCs + div {
    display: none;
}

#operations-tag-Wallet {
    display: none;
}

#operations-tag-Wallet + div  {
    display: none;
}

#operations-tag-debug {
    display: none;
}

#operations-tag-debug  + div  {
    display: none;
}
